

body{
    text-align: center;
    color: white;
    background: #66768b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Benne', serif;
}
h1{
    display: none;
}
iframe {
    text-align:center;
    background: #222;
    border: 0;
    height: 400px;
    width: 400px;
    color: white;
    border-radius: .5em;
    padding: .5em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
/* .logo{
    position: absolute;
        width: 40px;
    height: 40px;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
} */

.logo {
    margin: auto;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: 260px;
    padding-bottom: 20px;
    text-align:center;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }

@media only screen and (max-width: 421px) {
    iframe {
        width: 95vw;
        height: 95vw;
    }
}