

body{
    text-align: center;
    color: white;
    background: #66768b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .1em;
    
}

iframe {
    background: #222;
    color: white;
    border-radius: .5em;
    padding: .5em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
